.scenario {
    height: 160px;
}

.folder .folder-image ion-icon {
    color: #283542;
}

.scenario .scenario-image {
    height: 100px;
    padding: 0 10px;
}

.folder .folder-name h5, .scenario .scenario-name h5 {
    color: #283542;
}